.App {
  display: block;
  margin: 8px;
}
.container {
  background: linear-gradient(
    181deg,
    rgb(2, 0, 97) 15%,
    rgb(97, 149, 219) 158.5%
  );
  border-radius: 20px;
  color: #fff;
  width: 70%;
  padding: 30px;
  margin: 30px auto;
  font-family: "Oxygen", sans-serif;
}

h1 {
  margin-bottom: 5px;
}
h2 {
  font-size: 55px;
  margin: 23px;
}
p {
  margin-top: 0;
}
strong {
  font-size: 18px;
}
