h1 span {
  font-size: 15px;
}

img {
  max-width: 50%;
}

.City {
  background: url("./media/thebeach.jpg");
  background-position: center;
  background-size: cover;
  opacity: 70%;
  margin: 0 10px 25px;
  box-shadow: 4px 4px 15px #01002e;
  border-radius: 20px;
  transform: scale(1.03) perspective(200px);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.City:hover {
  transform: scale(1.1) perspective(2500px) rotateY(5deg);
  opacity: 90%;
}

#city {
  padding: 20px;
  padding-left: 15px;
  font-size: 35px;
  text-align: center;
}

#currentDate {
  padding-left: 20px;
  font-size: 14px;
}

#currentTime {
  padding-left: 20px;
  font-size: 14px;
  opacity: 70%;
}

#currentTemp {
  padding: 20px;
  font-size: 45px;
  text-align: center;
}

#minTemp {
  opacity: 70%;
}

#weatherDescription {
  font-size: 14px;
  margin-left: 20px;
  font-style: italic;
}

#degreeSign {
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 30px;
  background: transparent;
  color: #fff;
  font-size: 30px;
  transition: all 300ms ease-in-out;
}

#degreeSign:hover {
  font-size: 35px;
}
