#searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: #01004e;
  border-radius: 20px;
  box-shadow: 4px 4px 15px #01002e;
  margin-bottom: 30px;
}
#searchButton {
  border: none;
  background: transparent;
  color: #fff;
  transition: all 300ms ease-in-out;
}
#searchButton:hover {
  background: #fff;
  color: #01004e;
  border-radius: 30px;
}
#search {
  margin-left: 8px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}
::placeholder {
  color: #ffdfff;
  opacity: 30%;
}
#homeButton {
  border: none;
  background: transparent;
  color: #fff;
  transition: all 300ms ease-in-out;
}
#homeButton:hover {
  background: #fff;
  color: #01004e;
  border-radius: 30px;
}
